{% extends 'base.html' %} 


{% block content %} 
    <section class="hero is-fullheight-with-navbar">
        <br><br>
        <div class="container has-text-centered">
            <h1 class="title is-size-3">Search for a user</h1>
            <h5 class="subtitle">Type the username below!</h5>
            <form action="/user" method="GET">
                {% csrf_token %} 
                <label for="username" class=' is-text'>Username</label> <br>
                <input type="text" name="username" id="username" class='input has-text-centered' placeholder="Your username here..."> <br><br>
                <button type="submit" class='button is-primary is-outlined'>Search</button>
            </form>
        </div>
    </section>
{% endblock %}